* {
    margin: 0;
    padding: 0;
    font-family: Playfair Display;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 20px 20px;
    background-color: #f2f2f2;
  }

  h1 {
    font-size: 20pt;
    font-family: Playfair Display;
    font-weight:900;
    color: #1D4D6B;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .nav {
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: 304pt;
    height: 57pt;
    background-color: #F9F9F9;
  }
  
  .txtdisplay {
    color: #1D4D6B;
    font-family: Roboto;
    font-size: 10pt;
    font-weight: 400;
    line-height: 12pt;
    letter-spacing: 0em;
    text-align: left;
    
    transition: all 0.8s ease;
    opacity: 0;
    transform: translateY(-50%);
    top: 28.5pt;
    left: 300px;
    position: absolute;
    transition: all 0.4s ease;
    height: auto;
    width: 200px;
  }
  
  .nav.color {
    background-color: #e0e0e0;
  }

  .logo {
    transition: all 0.4s ease;
    margin-left: 50%;
    transform: translateX(-50%);
    right: auto;
    cursor: pointer;
    height: 39pt;
    width: 39pt;
  }

  .circle {
    transition: all 0.2s ease;
    fill: #081D2D;
  }

  .circle.color {
    fill: #f2f2f2;
  }

  .logo.margin {
    height: 50pt;
    width: 50pt;
    transform: translateX(0);
    margin-left: 5px;
    margin-right: auto;
  }

  .txtdisplay.visible {
    opacity: 1;
    top: 28.5pt;
    left: 85px;
    height: auto;
    width: auto;
  }

  .container-02 {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .icon {
    margin-left: 9px;
    transform: translateY(19%);
    height: 10pt;
    width: 10pt;
  }

  .containertxt {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .txtwrapper {
    width: 264pt;
  }

  .texto {
    font-family: roboto;
    font-size: 8pt;
    font-weight: 300;
    line-height: 13pt;
    letter-spacing: 0em;
    text-align: justify;
  }


  .sliderwrapper {
    display: flex;
    justify-content: center;
    margin-top: 20pt;
  }

  .projeto_01 {
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(projeto_01.png);
    height: 109pt;
    width: 109pt;
    background-position: center;
    background-size: 180pt;
    border-radius: 5px;
  }

  .btn {
    transition: all 0.4s ease;
    position: absolute;
    color: #1D4D6B;
    font-family: Roboto;
    font-size: 10pt;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    
    background: rgba(249, 249, 249, 0.53);
    backdrop-filter: blur(2.5px);
    border-radius: 5px;
    border: none;
    top:150px;
    width: 100pt;
    height: 24pt;
  }

  .btn.ativo {
    top: 108px;
  }